@using SellAndBuy.Web.Models.Adds
@model  UserAddViewModel
@{
    ViewBag.Title = "Index";
}


<div class="col-lg-3">
    @Html.Partial("_LoadDetails", Model.Adds)   
    <p>@Model.TelephoneNumber"</p>
    <p>@Model.Email</p>
    <p>@Model.Name</p>
</div>

