@using SellAndBuy.Web.Models.Adds
@model IEnumerable<AddViewModel>
@{
    ViewBag.Title = "SearchedAdds";
}

@foreach (var item in Model)
{
    <h3>
        @Html.ActionLink("See Details", "LoadConcreteAdd", "Add", new { id=item.Id},null)
    </h3>
        <h3> @item.Description</h3>
        }
