@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sell and Buy</h1>
    <h3>find your hapiness at the best price</h3>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Добави обява</h2>
        
        <p>@Html.ActionLink("Добави обява", "CreateAdd", "Add")</p>
    </div>
    <div class="col-md-4">
        <h2>Търсене</h2>
        
        <p>@Html.ActionLink("Търсене", "Search", "Add")</p>
    </div>
    
</div>