@using SellAndBuy.Web.Models.Adds.AddModels
@model  MyAddsViewModel
@{
    ViewBag.Title = "LoadConcreteAdd";
}
<div>
    <img src="@Url.Content("~/Content/Upload/"+Model.ImgName)" class="img-responsive" width="200" height="200" alt="no images found">
    <h2>@Html.DisplayFor(Model => Model.Description)</h2>
    <h2>@Html.DisplayFor(Model => Model.CreatedOn)</h2>
    <h2>@Html.DisplayFor(Model => Model.Price)</h2>
   
</div>

